---
import Modal from '../components/Modal.astro';
import Layout from '../layouts/Layout.astro';
import astrologia from '../scripts/astrologia.js';
---

<Layout title="Jorge Reiki | Inicio" titleSeo="Jorge Reiki | Inicio" descriptionSeo="Jorge Fairchild - Reiki Lomas de Zamora - Despierta tu energía interior, libera la armonía y vive en equilibrio"
        urlSeo="https://reikijorge.netlify.app/"
        canonical="https://reikijorge.netlify.app/"
>
    <section>
        <h1>Jorge Fairchild - Reiki Master</h1>
        <p>Despierta tu energía interior, libera la armonía y vive en equilibrio.</p>
        <div class="buttons">
            <a href="../reiki" aria-label="Click Aquí">Reiki</a>
            <a href="../cursos-terapias" class="btn-terapia" aria-label="Click Aquí">Terapias</a>
            <button  class="abrir-modal" aria-label="astrologia">Astrología</button>
            <Modal id={astrologia.id} title={astrologia.title} paragraphs={astrologia.description.paragraphs} characteristics={astrologia.description.characteristics} img={astrologia.img}/>
        </div>
    </section>
</Layout>

<style>
    section {
        text-align: center;
        padding: 2rem 1rem;
        background-image: linear-gradient(180deg, #6b5f8999, #2b396999), url('../../bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 90vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1 {
            font-family: 'Tangerine', cursive;
            font-size: 3.5rem;
            line-height: 1.1;
        }

        p {
            text-wrap: pretty;
            color: #fff;
            width: 90%;
            line-height: 1.1;
            
        }

        .buttons {
            margin-top: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            
            a, button {
                font-size: .9rem;
                border: 2px solid var(--clr-primary-200);
                padding: .6rem 1.1rem;
                font-weight: 700;
                cursor: pointer;
                transition: .2s ease-in all;
                border-radius: 4px;
                color: white;
                background-color: inherit;
            }

            button:hover {
                background-color: var(--clr-primary-200);
            }

            a:first-child {
                border-color: #fff;

                &:hover {
                    background-color: var(--clr-primary-200);
                    border-color: var(--clr-primary-200);
                }
            }

            .btn-terapia {
                background-color: var(--clr-primary-200);

                &:hover {
                    background-color: inherit;
                }
            }

        }
    }

    @media screen and (width > 620px) {
        section {
            justify-content: center;

            h1 {
                font-size: 4rem;
            }

            p {
                width: 60%;
                font-size: 1.2rem;
            }

            .buttons {
                margin-top: .5rem;
                
                a,button {
                    padding: .4rem 2rem;
                    font-size: 1rem;
                }

            }
    }
    }

    @media screen and (width > 900px) {
        section {
            min-height: 100vh;
            justify-content: center;

            h1 {
                font-size: 6rem;
            }

            p {
                width: 40%;
                text-wrap: pretty;
                font-size: 1.4rem;
            }

            .buttons {
                margin-top: 20px;
                display: flex;
                gap: 1rem;
                
                a {
                    padding: .8rem 3rem;
                    font-size: 1.2rem;
                }
            }
    }
    }

</style>

<script>
    import '../scripts/modal.js'
</script>

