---
const { id, title, paragraphs, characteristics, img, certificates } = Astro.props
---

<article class="modal-container" id={id}>
    <div class="modal">
        <h4>{title}</h4>
        <div class="paragraphs">
            {
                paragraphs?.map(p => {
                    return (
                        <p class="p">
                            {p}
                        </p>
                    )
                })
            }
        </div>

        {characteristics && 

        <div class="characteristics">
            <h6>{characteristics[0]}</h6>
            <ul>
                {
                    characteristics?.map((c,i) => {
                        if (i === 0) return null;
                        return (
                            <li><strong>{c[0]}</strong> {c[1]}</li>
                        );
                    })
                }
            </ul>
        </div>
        }
        {
        img &&
        <picture>
            <img src={img} alt={`Imagen de certifiación de ${title}`} loading="lazy">
        </picture>
        }
        {
        certificates &&
        <section class="certificates">
            {
                certificates.map(c => {
                    return (
                        <img src={c} />
                    )
                })
            }
        </section>
        }
        <i class="bi bi-x cerrar close-modal" aria-label={id}></i>
    </div>
</article>

<style>
    .modal-container {
        text-align: left;
        transition: .2s linear transform;
        display: none;
        position: fixed;
        inset: 0;
        z-index: 10000;
        background-color: rgba(0, 0, 0, 0.253);
        
        .modal {
            overflow-y: auto;
            overflow-x: hidden;
            padding: 1rem 0;
            position: fixed;
            z-index: 100;
            right: 5%;
            bottom: 5%;
            top: 5%;
            left: 5%;
            
            margin:  auto;
            color: #fff;

            background-color: var(--clr-primary-300);
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h4 {
                font-size: 1.5rem;
                text-transform: uppercase;
                padding-inline: 1rem;
            }

            .p {
                padding-inline: 1rem;
                font-size: 0.9rem;
                line-height: 1.5;
                margin-bottom: 1rem;
                letter-spacing: .5px;
                font-weight: 100;
                width: 100%                     ;

                &:last-child {
                    margin: 0;
                }
            }

            .close-modal {
                cursor: pointer;
                position: fixed;
                top: 6%;
                right: 10%;
                color: #fff;
                font-size: 2rem;
            }

            .characteristics {
                padding-inline: 1rem;
                h6 {
                    font-size: 1.2rem;
                }
                ul {
                    margin-top: 1rem;
                    margin-left: 1.1rem;
                    li {
                        list-style-type:decimal;
                        font-size: 0.9rem;
                        line-height: 1.5;
                        margin-bottom: 1rem;
                        letter-spacing: .5px;
                        font-weight: 100;

                        p {
                            padding: 0;
                            color: #fff;
                            font-weight: bold;
                        }

                    &:last-child {
                        margin: 0;
                    }
                    }
                }
            }
            picture {
                margin: 0 auto;
                width: 100%;
                max-height: 600px;
                max-width: 600px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .certificates {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 0.5rem;

                img {
                    width: 100%;
                    max-width: 300px;
                    object-fit: cover;
                }
            }
        }
    }

    @media screen and (width > 620px) {
        .modal-container {
            .modal {
                .close-modal {
                    cursor: pointer;
                    position: fixed;
                    top: 6%;
                    right: 8%;
                    color: #fff;
                    font-size: 2rem;
                }

                .certificates img {
                    object-fit: contain;
                }
            }
        }
    }

    .fade-in-bck {
	    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
    }

    @keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
                transform: translateZ(80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
    }
    }

    .fade-out-bck {
	    -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
    }

    @keyframes fade-out-bck {
    0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
    }
    }

</style>

